<!--<div class="details_container" fxLayout="column">-->
<!--  <div fxLayout="row" fxLayoutAlign="space-between center" class="header_section">-->
<!--    <div fxLayout="row" class="top_section">-->
<!--      <div class="title_header">-->
<!--        Products-->
<!--        &lt;!&ndash;        {{'MENU_HEADER' | translate }}&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->
<!--    <div fxLayout="row">-->
<!--      <div>sfgsgsdg</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<mat-card>
  <mat-card-content>
    <form  fxLayout="column" fxLayoutGap="24px" class="w-100-p">

<!--    <form #signInForm="ngForm" (ngSubmit)="onSubmit()">-->
      <h2>Sign Up</h2>
<!--      <mat-error *ngIf="!signInValid">-->
<!--        The username and password were not recognized-->
<!--      </mat-error>-->
      <mat-form-field>
        <input  formControlName="colorControl" matInput placeholder="User Name"  name="username" required>
        <mat-error>
          User name is required
        </mat-error>
      </mat-form-field>
<!--      <mat-form-field>-->
<!--        <input matInput placeholder="Email" [(ngModel)]="userEmail" name="Email" required>-->
<!--        <mat-error>-->
<!--          Please provide a valid email address-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>-->
<!--        <mat-error>-->
<!--          Please provide a valid password-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->
<!--      <button mat-raised-button color="primary" [disabled]="!signInForm.form.valid">Login</button>-->
    </form>
  </mat-card-content>
</mat-card>
