<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <app-loader *ngIf='isLoading' ></app-loader>
    <form #signInForm="ngForm" (ngSubmit)="onSubmit()" >
      <p>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="userEmail" name="Email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="!signInValid" class="error">
        The username and password were not recognized
      </p>
      <div class="button">
        <button type="submit" [disabled]="!signInForm.form.valid" mat-button>Login</button>
      </div>
        <p>Don’t have an account?&nbsp;&nbsp;</p>
      <div class="button mt-10">
        <button (click)="goToSignUp()" mat-button>SignUp</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
